services:
  bag3d:
    ogc-features:
      name: bag3d-cityjson
      description: BAG3D requires bbox in EPSG:28992 (RD) and returns CityJSON format
      bbox_crs: EPSG:28992
      require_format_param: false  # Override PDOK default - BAG3D doesn't need f=json
      # CityJSON format flags
      format_is_cityjson: true
      cityjson_version: '2.0'
      geometry_in_city_objects: true
      has_per_page_transform: true
      transform_applies_to_vertices: true
      vertices_are_integers: true
      has_lod_hierarchy: true
      issue_url: https://api.3dbag.nl/collections/pand
      workaround_date: '2024-11-22'
